{%- form 'contact' -%}
  {%- if form.posted_successfully? -%}
  <div class="alert alert-success">
    <div class="alert__icon">
      <i class="ris ri-check"></i>
    </div>
    <div class="alert__content">
      {{- 'contact.form.post_success' | t -}}
    </div>
  </div>
  {%- endif -%}

  {%- if form.errors != blank -%}
  <div class="alert alert-error">
    <div class="alert__icon">
      <i class="ris ri-alert"></i>
    </div>
    <div class="alert__content">
      {{- form.errors | default_errors -}}
    </div>
  </div>
  {%- endif -%}

  <div class="row">
    <div class="form-group col-12 col-{{ screen }}-6">
      <label for="{{ section.id }}-name">{{ 'contact.form.name' | t }}</label>
      <input id="{{ section.id }}-name" type="text" name="contact[name]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" />
    </div>
    <div class="form-group col-12 col-{{ screen }}-6">
      <label for="{{ section.id }}-email">{{ 'contact.form.email' | t }} <span class="required">*</span></label>
      <input id="{{ section.id }}-email" type="email" name="contact[email]" required="required" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"{% if form.errors contains 'email' %} class="input-error"{% endif %} autocorrect="off" autocapitalize="off" />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <label for="{{ section.id }}-message">{{ 'contact.form.message' | t }}</label>
      <textarea name="contact[body]" rows="10">{% if form.body %}{{ form.body }}{% endif %}</textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12">
      <button type="submit" class="btn btn-primary">{{ 'contact.form.submit' | t }}</button>
    </div>
  </div>
{%- endform -%}