<div id="shipping__calculator-{{ section.id }}" class="shipping__calculator">
  <div class="form-group">
    <label for="address_country-{{ section.id }}">{{ 'customer.addresses.country' | t }}</label>
    <div class="select-wrapper">
      <select id="address_country-{{ section.id }}" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
    </div>
  </div>
  <div class="form-group" id="address_province_container-{{ section.id }}" style="display:none">
    <label for="address_province-{{ section.id }}" id="address_province_label-{{ section.id }}">{{ 'customer.addresses.province' | t }}</label>
    <div class="select-wrapper">
      <select id="address_province-{{ section.id }}" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
    </div>
  </div>
  <div class="form-group">
    <label for="address_zip-{{ section.id }}">{{ 'customer.addresses.zip' | t }}</label>
    <input type="text" id="address_zip-{{ section.id }}" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} autocapitalize="characters" placeholder="{{ 'customer.addresses.zip' | t | escape }}" />
  </div>
  <div class="form-group">
    <button id="shipping__calculator-btn-{{ section.id }}" type="button" class="shipping__calculator-btn btn btn-primary">{{ settings.shipping_calculator_submit_button_label | default: 'Calculate shipping' }}</button>
  </div>
  <div id="shipping__calculator-response-{{ section.id }}" class="shipping__calculator-response"></div>
</div>