{%- assign ralb = shop.metafields.ra_private_lookbook.settings -%}
{%- capture lookbook_id -%}{% include 'shortcode-render' render:'id' %}{%- endcapture -%}
{%- assign lookbook = ralb[lookbook_id] -%}

{%- if lookbook.id -%}
<div class="roarlookbook" data-lookbook="{{ lookbook.id | escape }}">
  <div class="media__blank-preview">
    <img class="image-preview" src="{{ lookbook.image | escape }}" alt="{{ lookbook.title | escape }}" />

    {%- if lookbook.blocks.size -%}
      {%- for idx in lookbook.block_order -%}
        {%- assign block = lookbook.blocks[idx] -%}
        <div class="hotspot" data-id="{{ block.id | escape }}" data-title="{{ block.title | escape }}" data-price="{{ block.price | escape }}" data-url="{{ block.url | escape }}" data-image="{{ block.image | escape }}" data-content="{{ block.id | escape }}" style="top: {{ block.offset.top | escape }}%; left: {{ block.offset.left | escape }}%;">{{ block.id }}</div>
      {%- endfor -%}
    {%- endif -%}
  </div>
</div>
{%- endif -%}