<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  {%- if canonical_url != blank -%}
  <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="{{ settings.favicon | img_url: '152x152' }}" type="image/png">
  {%- endif -%}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- include 'social-meta-tags' -%}
  
  {{- 'vendor.scss.css' | asset_url | stylesheet_tag -}}
  {{- 'theme.scss.css' | asset_url | stylesheet_tag -}}
  {{- 'theme-password.scss.css' | asset_url | stylesheet_tag -}}
  {%- if settings.rtl_support -%}
  {{- 'theme-rtl.scss.css' | asset_url | stylesheet_tag -}}
  {%- endif -%}
  {{- '//fonts.googleapis.com/css?family=Abril+Fatface:400' | stylesheet_tag -}}
  {{- '//fonts.googleapis.com/css?family=Old+Standard+TT:400' | stylesheet_tag -}}
  
  <script>
    var theme = {
      strings: {
        days: {{- 'general.countdown_localisation.days' | t | json -}},
        day: {{- 'general.countdown_localisation.day' | t | json -}},
        hours: {{- 'general.countdown_localisation.hours' | t | json -}},
        hour: {{- 'general.countdown_localisation.hour' | t | json -}},
        minutes: {{- 'general.countdown_localisation.minutes' | t | json -}},
        minute: {{- 'general.countdown_localisation.minute' | t | json -}},
        seconds: {{- 'general.countdown_localisation.seconds' | t | json -}},
        second: {{- 'general.countdown_localisation.second' | t | json -}},
      },
      settings: {
        rtl: {{- settings.rtl_support -}},
      }
    }
  </script>
  <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
</head>

<body class="template-password{% if settings.rtl_support %} is-rtl{% endif %}">
  <div id="site-loader"></div>
  <div id="site-container">
    {%- include 'global-symbols' -%}
    <div class="password-page content-area">
      <a href="#LoginModal" class="password-login btn btn-primary">{{ 'general.password_page.password_link' | t }}</a>

      <div class="password-main container" role="main">
        <div class="password-main__inner">
          {{ content_for_layout }}
        </div>
        <div class="password-powered-by">
          {%- capture shopify -%}
          <a class="classic-link shopify-link" href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify">Shopify</a>
          {%- endcapture -%}
          <small>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}</small>
        </div>
      </div>
    </div>

    <div id="LoginModal" class="password-modal">
      <div class="container">
        <div class="modal__content">
          <p class="infotext">{{ 'general.password_page.login_form_heading' | t }}</p>

          {%- form 'storefront_password' -%}
            {%- if form.errors != blank -%}
              <div class="alert alert-error">
                <div class="alert__icon">
                  <i class="ris ri-check"></i>
                </div>
                <div class="alert__content">
                  {{- form.errors | default_errors -}}
                </div>
              </div>
            {%- endif -%}

            <input type="password" name="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t | escape }}" />
            <button type="submit" name="commit">{{ 'general.password_page.login_form_submit' | t }}</button>
          {%- endform -%}
          
          <div class="password__input-link">{{ 'general.password_page.admin_link_html' | t }}</div>
        </div>
      </div>
      <div class="modal__close close-icon">{{ 'general.accessibility.close_modal' | t }}</div>
    </div>
    <div class="password__overlay"></div>
  </div>
</body>
</html>
