{%- assign is_container = true -%}
{%- assign container_begin = '<div class="container">' -%}
{%- assign container_end = '</div>' -%}
{%- if section.settings.full_width -%}
  {%- assign is_container = false -%}
  {%- assign container_begin = '' -%}
  {%- assign container_end = '' -%}
{%- endif -%}

{%- capture style_section -%}
  padding:{{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
{%- endcapture -%}

{{- container_begin -}}
<div class="container-section builder-section{% if section.settings.mobile_disable %} mb-hidden{% endif %}" style="{{ style_section | strip_newlines | remove: "  " }}">
  {%- assign blocks_size = section.blocks.size -%}
  {%- if section.blocks.size > 0 -%}
    {%- for block in section.blocks -%}
      {%- if block.type == 'background' -%}
        {%- assign blocks_size = blocks_size | minus: 1 -%}
        {%- include 'bgimage' -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  
  <div class="wrapper{% if section.settings.full_width and section.settings.no_spacing == false %} container{% assign is_container = true %}{% endif %}">
    {%- include 'headings', type: 'index', object: section -%}

    {%- if blocks_size > 0 -%}
      {%- assign banners_start = '' -%}
      {%- assign banners_end = '</div></div>' -%}

      {%- assign column_start = '<div class="banner__col d-flex flex-wrap col-p-$width col-pm-$width_mb align-items-$alignment mb-hidden" style="$style"><div class="banner__col-wrap">' -%}
      {%- assign column_end = '</div></div>' -%}
  
      {%- comment -%} check if there have any columns? {%- endcomment -%}
      {%- assign has_column_type = false -%}
      {%- for block in section.blocks -%}
        {%- if block.type == 'column' -%}
          {%- assign has_column_type = true -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if has_column_type == false -%}
        {%- assign banners_start = '<div class="banner__col"><div class="banner__col-wrap">' -%}
      {%- endif -%}
      <div class="d-flex flex-wrap">
        {{- banners_start -}}
          {%- assign first_column = true -%}
          {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'column' -%}
              {%- if first_column == false -%}
                {{- column_end -}}
              {%- endif -%}
              {%- capture column_style -%}background-color:{{ block.settings.bground }};padding-top:{{ block.settings.padding_top }}px;padding-bottom:{{ block.settings.padding_bottom }}px;padding-left:{{ block.settings.padding_left }}px;padding-right:{{ block.settings.padding_right }}px;{%- endcapture -%}
              {%- assign column_start_new = column_start | replace: '$width_mb', block.settings.width_mb | replace: '$width', block.settings.width | replace: '$alignment', block.settings.alignment | replace: '$style', column_style -%}
              {%- unless block.settings.mobile_disable -%}
                {%- assign column_start_new = column_start_new | replace: 'mb-hidden', '' -%}
              {%- endunless -%}
        
              {{- column_start_new -}}
              {%- assign first_column = false -%}

            {%- when 'text' -%}
              <div class="banner__text text-{{ block.settings.text_alignment }} size-{{ block.settings.text_size }} weight-{{ block.settings.text_weight }} font-{{ block.settings.text_font }}" style="color:{{ block.settings.text_color }};line-height:{{ block.settings.line_height }};letter-spacing:{{ block.settings.letter_spacing }}px;" {{ block.shopify_attributes }}>
                {{- block.settings.text_content -}}
              </div>
        
            {%- when 'button' -%}
              <div class="banner__text text-{{ block.settings.text_alignment }}" {{ block.shopify_attributes }}>
                <a href="{{ block.settings.button_link }}" class="btn{% unless block.settings.button_custom %} btn-primary{% else %} btn-secondary btn-{{ block.settings.button_type }} size-{{ block.settings.button_size }} weight-{{ block.settings.button_weight }} font-{{ block.settings.button_font }}{% endunless %}{% if block.settings.button_as_link %} btn-link{% endif %}"{% if block.settings.button_custom %} style="color:{{ block.settings.button_color }};background-color:{{ block.settings.button_bground }};border-color:{{ block.settings.button_border }};"{% endif %}>
                  {{- block.settings.button_label -}}
                </a>
              </div>
        
            {%- when 'countdown' -%}
              {%- if block.settings.heading != blank or block.settings.product != blank -%}
              <div class="countdownTimer-section text-{{ block.settings.text_alignment }}" data-section-id="{{ section.id }}" data-section-type="countdown-timer" {{ block.shopify_attributes }}>
                <div class="timer-wrapper">
                  {%- if block.settings.heading != blank -%}
                  <h5>{{ block.settings.heading }}</h5>
                  {%- endif -%}
                  <div class="timer">
                    {%- if block.settings.product != blank -%}
                    {%- assign product = all_products[block.settings.product] -%}
                    <h3>
                      <a href="{{ product.url }}">
                        {%- if block.settings.product_name != blank -%}
                          {{- block.settings.product_name -}}
                        {%- else -%}
                          {{- product.title -}}
                        {%- endif -%}
                      </a>
                    </h3>
                    {%- endif -%}
                    {%- if block.settings.end_date != blank -%}
                    <div class="product-single__countdown countdown-{{ section.id }}" data-end_date="{{ block.settings.end_date | escape }}"></div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
              {%- endif -%}
        
            {%- when 'image' -%}
            {%- assign has_image = false -%}
            {%- if block.settings.image -%}
              {%- assign has_image = true -%}
            {%- endif -%}
              <div class="banner__picture-wrapper banner__text-{{ block.settings.text_position }}" {{ block.shopify_attributes }}>
                <div class="d-flex justify-content-{{ block.settings.image_alignment }}">
                  <div class="d-flex flex-wrap col-p-{{ block.settings.image_width }}">
                    {%- if has_image == true -%}
                    <div class="banner__picture">
                      {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                      {%- capture img_sizes -%}{% if block.settings.image.aspect_ratio > 1 %}x3{% else %}3x{% endif %}{%- endcapture -%}
                      <img class="lookbook__image lazyload"
                           src="{{ block.settings.image | img_url: img_sizes }}"
                           data-src="{{ img_url }}"
                           data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                           data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                           data-sizes="auto"
                           tabindex="-1"
                           alt="{{ block.settings.image.alt | escape }}" />
                    </div>
                    {%- endif -%}
                    {%- if block.settings.heading != blank or block.settings.caption != blank or block.settings.cta != blank -%}
                    <div class="banner__text">
                      {%- if block.settings.heading != blank -%}
                      <div class="banner__text-heading size-{{ block.settings.heading_size }} weight-{{ block.settings.heading_weight }} font-{{ block.settings.heading_font }}" style="color:{{ block.settings.heading_color }};line-height:{{ block.settings.heading_line_height }};letter-spacing:{{ block.settings.heading_letter_spacing }}px;">{{ block.settings.heading }}</div>
                      {%- endif -%}
                      {%- if block.settings.caption != blank -%}
                      <div class="banner__text-caption size-{{ block.settings.caption_size }} weight-{{ block.settings.caption_weight }} font-{{ block.settings.caption_font }}" style="color:{{ block.settings.caption_color }};line-height:{{ block.settings.caption_line_height }};letter-spacing:{{ block.settings.caption_letter_spacing }}px;">{{ block.settings.caption }}</div>
                      {%- endif -%}
                      {%- if block.settings.cta != blank -%}
                      <a class="banner__text-cta size-{{ block.settings.cta_size }} weight-{{ block.settings.cta_weight }} font-{{ block.settings.cta_font }}" style="color:{{ block.settings.cta_color }};" href="{{ block.settings.link }}">{{ block.settings.cta }}</a>
                      {%- endif -%}
                    </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
        
            {%- when 'lookbook' -%}
            <div class="lookbook-section" {{ block.shopify_attributes }}>
              <div class="lookbook__wrapper">
                <div class="slideshow__slide{%- if block.settings.code == blank -%} slide-active{% endif %}">
                  {%- if block.settings.code == blank and block.settings.image == blank -%}
                    <div class="slideshow__image">
                      <div class="placeholder-background">
                        {%- capture current -%}{% cycle 1, 2 %}{%- endcapture -%}
                        {{- 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' -}}
                      </div>
                    </div>
                  {%- endif -%}

                  {%- if block.settings.image -%}
                    {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    {%- capture img_sizes -%}{% if block.settings.image.aspect_ratio > 1 %}x3{% else %}3x{% endif %}{%- endcapture -%}
                    <img class="lookbook__image lazyload"
                         src="{{ block.settings.image | img_url: img_sizes }}"
                         data-src="{{ img_url }}"
                         data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                         data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                         data-sizes="auto"
                         tabindex="-1"
                         alt="{{ block.settings.image.alt | escape }}" />
                  {%- endif -%}

                  {%- if block.settings.code -%}
                    <div id="lookbook__id-{{ block.id }}" class="lookbook__app{% if block.settings.plus_icon %} lookbook__customize{% endif %}">{{ block.settings.code }}</div>
                  {%- endif -%}
                </div>
              </div>
            </div>
        
            {%- when 'newsletter' -%}
              <div class="banner__text text-{{ block.settings.text_alignment }}" {{ block.shopify_attributes }}>
                {%- if block.settings.behavior == 'shopify' -%}
                  {%- assign contact_form = 'contact_form-' | append: block.id -%}
                  {%- form 'customer', id: contact_form -%}
                    {%- if form.errors != blank -%}
                    <div class="alert__message">
                      <div class="alert__icon">
                        <i class="icon_error-triangle_alt"></i>
                      </div>
                      <div class="alert__content">
                        {{- form.errors | default_errors -}}
                      </div>
                    </div>
                    {%- endif -%}
                    {%- if form.posted_successfully? -%}
                    <div class="alert__message">
                      <div class="alert__icon">
                        <i class="icon_check"></i>
                      </div>
                      <div class="alert__content">
                        {{- 'sections.newsletter.confirmation' | t -}}
                      </div>
                    </div>
                    {%- endif -%}
                    <div class="form-group">
                      <input type="hidden" name="contact[tags]" value="newsletter" />
                      <input type="email" name="contact[email]" required="required" class="form-control" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'sections.newsletter.email_placeholder' | t | escape }}" autocapitalize="off" />
                      <button type="submit" class="btn btn-primary">{{ 'sections.newsletter.submit' | t }}</button>
                    </div>
                  {%- endform -%}
                {%- else -%}
                <form action="{{ block.settings.mailchimp_form_action }}" method="POST" name="container" target="_blank">
                  <div class="form-group">
                    <input type="email" name="EMAIL" required="required" class="form-control" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'sections.newsletter.email_placeholder' | t | escape }}" autocapitalize="off" />
                    <button type="submit" class="btn btn-primary">{{ 'sections.newsletter.submit' | t }}</button>
                  </div>
                </form>
                {%- endif -%}
              </div>
        
            {%- when 'products' -%}
              <div class="products products-grid row row-{{ block.settings.spacing }}" {{ block.shopify_attributes }}>
                {%- assign my_collection = collections[block.settings.collection] -%}
                {%- if my_collection != blank and my_collection.products_count > 0 -%}
                  {%- case block.settings.grid -%}
                  {%- when '1' -%}
                    {%- assign grid_class = ' col-12' -%}
                  {%- when '2' -%}
                    {%- assign grid_class = ' col-6 col-md-6' -%}
                  {%- when '3' -%}
                    {%- assign grid_class = ' col-6 col-md-4' -%}
                  {%- when '4' -%}
                    {%- assign grid_class = ' col-6 col-md-4 col-lg-3' -%}
                  {%- endcase -%}
                
                  {%- for my_product in my_collection.products limit: block.settings.per_page -%}
                    {%- include 'product-item', layout: 'grid', grid_class: grid_class, my_collection: my_collection -%}
                  {%- endfor -%}
                {%- else -%}
                <div class="no-products col-12">
                  <p>{{ 'collections.general.no_matches' | t | escape }}</p>
                </div>
                {%- endif -%}
              </div>
        
            {%- when 'spacing' -%}
              <div class="col-12{% if block.settings.mobile_disable %} mb-hidden{% endif %}" style="min-height:{{ block.settings.height | append:'px' }};" {{ block.shopify_attributes }}></div>
        
            {%- endcase -%}
          {%- endfor -%}
        {{- banners_end -}}
      </div>
    {%- else -%}
      {%- include 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>
{{- container_end -}}

{% schema %}
  {
    "name": "UX builder",
    "settings": [
      {
        "type": "checkbox",
        "id": "mobile_disable",
        "label": "Disable on mobile",
        "info": "Check to disable this section on mobile devices"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Wide display",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "no_spacing",
        "label": "No spacing",
        "info": "When Wide display is checked, use this option to remove the bilateral spaces"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Headings alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "— Heading style"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Color",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "heading_size",
        "label": "Font size",
        "max": 100,
        "min": 10,
        "step": 1,
        "unit": "px",
        "default": 32
      },
      {
        "type": "range",
        "id": "heading_weight",
        "label": "Font weight",
        "max": 700,
        "min": 300,
        "step": 100,
        "default": 600
      },
      {
        "type": "range",
        "id": "heading_spacing",
        "label": "Bottom spacing",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 5
      },
      {
        "type": "header",
        "content": "— Subheading style"
      },
      {
        "type": "color",
        "id": "subheading_color",
        "label": "Color",
        "default": "#666"
      },
      {
        "type": "range",
        "id": "subheading_size",
        "label": "Font size",
        "max": 100,
        "min": 10,
        "step": 1,
        "unit": "px",
        "default": 22
      },
      {
        "type": "range",
        "id": "subheading_weight",
        "label": "Font weight",
        "max": 700,
        "min": 300,
        "step": 100,
        "default": 300
      },
      {
        "type": "range",
        "id": "subheading_spacing",
        "label": "Bottom spacing",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 55
      },
      {
        "type": "header",
        "content": "— Paddings"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Top padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_left",
        "label": "Left padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_right",
        "label": "Right padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "— Column",
        "settings": [
          {
            "type": "checkbox",
            "id": "mobile_disable",
            "label": "Disable on mobile",
            "info": "Check to disable this group on mobile devices"
          },
		  {
            "type": "range",
            "id": "width",
            "label": "Width",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 50
          },
          {
            "type": "range",
            "id": "width_mb",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Width on mobile",
            "default": 50
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Children alignment",
            "default": "start",
            "options": [
              {
                "value": "start",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "end",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "color",
            "id": "bground",
            "label": "Background color",
            "default": "#fff"
          },
          {
            "type": "header",
            "content": "— Paddings"
          },
          {
            "type": "range",
            "id": "padding_top",
            "label": "Top padding",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "label": "Bottom padding",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "padding_left",
            "label": "Left padding",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "padding_right",
            "label": "Right padding",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 0
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Text",
            "default": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link",
            "default": "/"
          },
          {
            "type": "header",
            "content": "— Style"
          },
          {
            "type": "checkbox",
            "id": "button_as_link",
            "label": "Display button as link"
          },
          {
            "type": "checkbox",
            "id": "button_custom",
            "label": "Custom button style"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Text color",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "button_border",
            "label": "Border color",
            "default": "#00c9b7"
          },
          {
            "type": "color",
            "id": "button_bground",
            "label": "Background color",
            "default": "#00c9b7"
          },
          {
            "type": "select",
            "id": "button_font",
            "label": "Font family",
            "default": "body",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "button_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 14
          },
          {
            "type": "range",
            "id": "button_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 600
          },
          {
            "type": "select",
            "id": "button_type",
            "label": "Size type",
            "default": "medium",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ]
          }
        ]
      },
      {
        "type": "countdown",
        "name": "Countdown timer",
        "settings": [
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Your heading"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "product_name",
            "label": "Custom product name"
          },
          {
            "type": "text",
            "id": "end_date",
            "label": "Date",
            "info": "Format: mm-dd-yyyy",
            "default": "12-12-2020"
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
		  {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		  {
            "type": "range",
            "id": "image_width",
            "label": "Image width",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 100
          },
          {
            "type": "select",
            "id": "image_alignment",
            "label": "Image alignment",
            "default": "start",
            "options": [
              {
                "value": "start",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "end",
                "label": "Right"
              }
            ]
          },
		  {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "This is heading"
          },
		  {
            "type": "text",
            "id": "caption",
            "label": "Caption"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "cta",
            "label": "Call-to-Action (CTA)"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Text position",
            "default": "bottom",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              },
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "header",
            "content": "— Heading style"
          },
          {
            "type": "color",
            "id": "heading_color",
            "label": "Color",
            "default": "#000"
          },
          {
            "type": "select",
            "id": "heading_font",
            "label": "Font family",
            "default": "heading",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "heading_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 24
          },
          {
            "type": "range",
            "id": "heading_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 600
          },
          {
            "type": "range",
            "id": "heading_line_height",
            "label": "Line height",
            "max": 2.5,
            "min": 0.5,
            "step": 0.1,
            "default": 1.7
          },
          {
            "type": "range",
            "id": "heading_letter_spacing",
            "label": "Letter spacing",
            "max": 10,
            "min": -5,
            "step": 0.5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "header",
            "content": "— Caption style"
          },
          {
            "type": "color",
            "id": "caption_color",
            "label": "Color",
            "default": "#a1a1a1"
          },
          {
            "type": "select",
            "id": "caption_font",
            "label": "Font family",
            "default": "body",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "caption_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 14
          },
          {
            "type": "range",
            "id": "caption_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 400
          },
          {
            "type": "range",
            "id": "caption_line_height",
            "label": "Line height",
            "max": 2.5,
            "min": 0.5,
            "step": 0.1,
            "default": 1.7
          },
          {
            "type": "range",
            "id": "caption_letter_spacing",
            "label": "Letter spacing",
            "max": 10,
            "min": -5,
            "step": 0.5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "header",
            "content": "— CTA style"
          },
          {
            "type": "color",
            "id": "cta_color",
            "label": "Color",
            "default": "#000"
          },
          {
            "type": "select",
            "id": "cta_font",
            "label": "Font family",
            "default": "heading",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "cta_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 12
          },
          {
            "type": "range",
            "id": "cta_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 400
          }
        ]
      },
      {
        "type": "lookbook",
        "name": "Lookbook",
        "settings": [
          {
            "type": "checkbox",
            "id": "plus_icon",
            "label": "Plus icon instead of number"
          },
          {
            "type": "text",
            "id": "code",
            "label": "Lookbook code",
            "info": "Go to App > Lookbook, to get this code"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Lookbook image",
            "info": "Upload image which uploaded in Lookbook app again"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter form",
        "settings": [
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "behavior",
            "label": "Behavior",
            "default": "shopify",
            "options": [
              {
                "value": "shopify",
                "label": "Shopify"
              },
              {
                "value": "mailchimp",
                "label": "Mailchimp"
              }
            ]
          },
          {
            "type": "text",
            "id": "mailchimp_form_action",
            "label": "Mailchimp form action [( ? )](https:\/\/youtu.be\/ucj6y7Ix6gU)"
          }
        ]
      },
      {
        "type": "products",
        "name": "Products",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "range",
            "id": "per_page",
            "min": 1,
            "max": 50,
            "step": 1,
            "label": "Number of products",
            "default": 2
          },
          {
            "type": "select",
            "id": "grid",
            "label": "Products columns",
            "default": "2",
            "options": [
              {
                "value": "1",
                "label": "1"
              },
              {
                "value": "2",
                "label": "2"
              },
              {
                "value": "3",
                "label": "3"
              },
              {
                "value": "4",
                "label": "4"
              },
              {
                "value": "6",
                "label": "6"
              }
            ]
          },
          {
            "type": "range",
            "id": "spacing",
            "min": 0,
            "max": 30,
            "step": 10,
            "unit": "px",
            "label": "Space between products",
            "default": 20
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "html",
            "id": "text_content",
            "label": "Text",
            "default": "Welcome to RoarTheme"
          },
          {
            "type": "header",
            "content": "— Style"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Color",
            "default": "#000"
          },
          {
            "type": "select",
            "id": "text_font",
            "label": "Font family",
            "default": "body",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "text_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 24
          },
          {
            "type": "range",
            "id": "text_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 400
          },
          {
            "type": "range",
            "id": "line_height",
            "label": "Line height",
            "max": 2.5,
            "min": 0.5,
            "step": 0.1,
            "default": 1.7
          },
          {
            "type": "range",
            "id": "letter_spacing",
            "label": "Letter spacing",
            "max": 10,
            "min": -5,
            "step": 0.5,
            "unit": "px",
            "default": 0
          }
        ]
      },
      {
        "type": "spacing",
        "name": "Spacing",
        "settings": [
          {
            "type": "checkbox",
            "id": "mobile_disable",
            "label": "Disable on mobile",
            "info": "Check to disable this block on mobile devices"
          },
          {
            "type": "range",
            "id": "height",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Height",
            "default": 30
          }
        ]
      },
      {
        "type": "background",
        "name": "🏷 Background",
        "limit": 1,
        "settings": [
          {
            "type": "color",
            "id": "bground_color",
            "label": "Background color",
            "default": "#00c9b7"
          },
          {
            "type": "range",
            "id": "bground_opacity",
            "label": "Background opacity",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "%",
            "default": 100
          },
          {
            "type": "header",
            "content": "— Background image",
            "info": "Reduce background opacity to use background image"
          },
          {
            "type": "image_picker",
            "id": "bground_image",
            "label": "Upload image"
          },
          {
            "type": "select",
            "id": "bground_position",
            "label": "Background position to start",
            "options": [
              {
                "value": "center_center",
                "label": "Center"
              },
              {
                "value": "top_left",
                "label": "Top left"
              },
              {
                "value": "top_right",
                "label": "Top right"
              },
              {
                "value": "top_center",
                "label": "Top center"
              },
              {
                "value": "bottom_left",
                "label": "Bottom left"
              },
              {
                "value": "bottom_right",
                "label": "Bottom right"
              },
              {
                "value": "bottom_center",
                "label": "Bottom center"
              }
            ],
            "default": "center_center"
          },
          {
            "type": "checkbox",
            "id": "parallax_effect",
            "label": "Parallax scrolling effect",
            "info": "Parallax scrolling will be turn of on mobile devices"
          },
          {
            "type": "header",
            "content": "— Scroll down anchor"
          },
          {
            "type": "checkbox",
            "id": "show_anchor",
            "label": "Show anchor icon"
          },
          {
            "type": "color",
            "id": "anchor_color",
            "label": "Anchor color",
            "default": "#00c9b7"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "UX builder",
        "category": "Other",
        "blocks": [
          {
            "type": "column"
          },
          {
            "type": "text"
          },
          {
            "type": "column"
          },
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}