{%- assign is_container = true -%}
{%- assign container_begin = '<div class="container">' -%}
{%- assign container_end = '</div>' -%}
{%- if section.settings.full_width -%}
  {%- assign is_container = false -%}
  {%- assign container_begin = '' -%}
  {%- assign container_end = '' -%}
{%- endif -%}

{{- container_begin -}}
<div class="container-section slideshow-section{% if section.settings.mobile_disable %} mb-hidden{% endif %}" data-section-id="{{ section.id }}" data-section-type="slideshow-section" style="padding:{{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;">
  {%- assign blocks_size = section.blocks.size -%}
  {%- if section.blocks.size > 0 -%}
    {%- for block in section.blocks -%}
      {%- if block.type == 'background' -%}
        {%- assign blocks_size = blocks_size | minus: 1 -%}
        {%- include 'bgimage' -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  
  <div class="wrapper{% if section.settings.full_width and section.settings.no_spacing == false %} container{% assign is_container = true %}{% endif %}">
    {%- include 'headings', type: 'index' -%}
    
    {%- if blocks_size > 0 -%}
    <div class="slideshow-wrapper">
      <div class="slideshow slideshow--view_{{ section.settings.per_view }} slideshow--color_{{ section.settings.color_scheme }} slideshow--{{ section.settings.slideshow_height }}" id="Slideshow-{{ section.id }}" data-arrows="{{ section.settings.arrows }}" data-dots="{{ section.settings.dots }}" data-autoplay="{{ section.settings.autoplay }}" data-speed="{{ section.settings.autoplay_speed | times: 1000 }}" data-per_view="{{ section.settings.per_view }}">
        {%- for block in section.blocks -%}
          {%- unless block.type == 'background' -%}
            {%- assign is_background_video = false -%}
            {%- if block.type == 'video' -%}
              {%- if block.settings.video_type == 'background' or block.settings.video_type =='background-chrome' -%}
                {%- assign is_background_video = true -%}
              {%- endif -%}
            {%- endif -%}

            <div class="slideshow__slide slideshow__slide--{{ block.id }}{% if is_background_video %} slideshow__slide--background-video{% endif %}" data-slick-id="{{ block.id }}" {{ block.shopify_attributes }}>
              {%- if block.settings.button_link != blank and block.settings.button_label == blank -%}
                <a href="{{ block.settings.button_link }}" class="slideshow__link">
              {%- endif -%}

              <div class="slideshow__image-wrap">
                {%- if block.type == 'video' -%}
                  {%- if block.settings.video_url != blank -%}
                    <div class="video-loader"></div>
                  {%- endif -%}
                  {%- if block.settings.video_url != blank -%}
                    <div id="SlideshowVideo-{{ block.id }}" class="slideshow__video slideshow__image{% if is_background_video %} slideshow__video--background{% endif %} slideshow__video--{{ block.settings.video_type }}"
                      data-id="{{ block.settings.video_url.id }}"
                      data-type="{{ block.settings.video_type }}"
                      data-slideshow="Slideshow-{{ section.id }}"></div>
                  {%- endif -%}
                {%- endif -%}
                
                {%- if block.settings.image == blank -%}
                  <div class="slideshow__image">
                    <div class="placeholder-background">
                      {%- capture current -%}{% cycle 1, 2 %}{%- endcapture -%}
                      {{- 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' -}}
                    </div>
                  </div>
                {%- else -%}
                  <div class="slideshow__image lazyload{% unless forloop.first == true %} lazypreload{% endunless %}"
                       data-bgset="{% include 'bgset', image: block.settings.image %}"
                       data-sizes="auto"
                       data-parent-fit="cover"
                       style="background-position:{{ block.settings.image_alignment }};{% if forloop.first == true %}background-image:url('{{ block.settings.image | img_url: 'master' }}');{% endif %}">
                  </div>
                {%- endif -%}
              </div>
              <div class="slideshow__text-wrap">
                <div class="slideshow__text-content">
                  <div class="container d-flex h100 justify-content-{{ block.settings.position_horizontal }} align-items-{{ block.settings.position_vertical }} text-{{ block.settings.text_alignment }}">
                    {%- assign style_primary = '' -%}
                    {%- capture style_primary -%}
                      {%- if block.settings.position_vertical == 'start' -%}
                        top:{{ block.settings.padding_vertical }}%;
                      {%- elsif block.settings.position_vertical == 'end' -%}
                        bottom:{{ block.settings.padding_vertical }}%;
                      {%- endif -%}
                      {%- unless block.settings.position_vertical == 'center' -%}
                        max-width:{{ 100 | minus: block.settings.padding_vertical }}%;
                      {%- endunless -%}
                      {%- if block.settings.position_horizontal == 'start' -%}
                        left:{{ block.settings.padding_horizontal }}%;
                      {%- elsif block.settings.position_horizontal == 'end' -%}
                        right:{{ block.settings.padding_horizontal }}%;
                      {%- endif -%}
                      {%- unless block.settings.position_horizontal == 'center' -%}
                        max-width:{{ 100 | minus: block.settings.padding_horizontal }}%;
                      {%- endunless -%}
                    {%- endcapture -%}
                    <div class="slideshow__text-text" style="{{ style_primary | strip_newlines | remove: "  " }}">
                      {%- unless block.settings.title == blank -%}
                        <h2 class="slideshow__title weight-{{ block.settings.title_weight }} size-{{ block.settings.title_size }} font-{{ block.settings.title_font }}" style="color:{{ block.settings.title_color }};line-height:{{ block.settings.title_line_height }};letter-spacing:{{ block.settings.title_letter_spacing }}px;margin-bottom:{{ block.settings.title_spacing }}px;">
                          {{- block.settings.title -}}
                        </h2>
                      {%- endunless -%}
                      {%- unless block.settings.caption == blank -%}
                        <div class="slideshow__subtitle weight-{{ block.settings.caption_weight }} size-{{ block.settings.caption_size }} font-{{ block.settings.caption_font }}" style="color:{{ block.settings.caption_color }};line-height:{{ block.settings.caption_line_height }};letter-spacing:{{ block.settings.caption_letter_spacing }}px;margin-bottom:{{ block.settings.caption_spacing }}px;">
                          {{- block.settings.caption -}}
                        </div>
                      {%- endunless -%}
                      {%- if block.settings.button_link != blank and block.settings.button_label != blank -%}
                        <a href="{{ block.settings.button_link }}" class="btn{% unless block.settings.button_custom %} btn-primary{% else %} btn-secondary btn-{{ block.settings.button_type }} size-{{ block.settings.button_size }} weight-{{ block.settings.button_weight }} font-{{ block.settings.button_font }}{% endunless %}{% if block.settings.button_as_link %} btn-link{% endif %}"{% if block.settings.button_custom %} style="color:{{ block.settings.button_color }};background-color:{{ block.settings.button_bground }};border-color:{{ block.settings.button_border }};letter-spacing:{{ block.settings.button_letter_spacing }}px;"{% endif %}>{{ block.settings.button_label }}</a>
                      {%- endif -%}
                      {%- if block.type == 'video' -%}
                        {%- unless block.settings.video_type == 'background' -%}
                          <div class="slideshow__video-control--play-wrapper{% if block.settings.title != blank or block.settings.caption != blank or block.settings.button != blank %} slideshow__video-control--play-wrapper--push{% endif %}" style="color:{{ block.settings.title_color }};">
                            <span class="slideshow__video-control slideshow__video-control--play" data-controls="SlideshowVideo-{{ block.id }}">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><g><path d="M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30   c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15   C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z"/><path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30   S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z"/></g></svg>
                            </span>
                          </div>
                        {%- endunless -%}
                      {%- endif -%}
                    </div>
                  </div>
                </div>
              </div>

              {%- if block.settings.button_link != blank and block.settings.button_label == blank -%}
                </a>
              {%- endif -%}
            </div>
          {%- endunless -%}
        {%- endfor -%}
      </div>
    </div>
    {%- else -%}
      {%- include 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>
{{- container_end -}}

{% schema %}
  {
    "name": "Slideshow",
    "class": "index-section",
    "max_blocks": 6,
    "settings": [
      {
        "type": "checkbox",
        "id": "mobile_disable",
        "label": "Disable on mobile",
        "info": "Check to disable this section on mobile devices"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Wide display",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "no_spacing",
        "label": "No spacing",
        "info": "When Wide display is checked, use this option to remove the bilateral spaces[.](https://#roarJs-check:full_width|true)"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Headings alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "— Heading style[.](https://#roarJs-group:true)"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Color",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "heading_size",
        "label": "Font size",
        "max": 100,
        "min": 10,
        "step": 1,
        "unit": "px",
        "default": 36
      },
      {
        "type": "range",
        "id": "heading_weight",
        "label": "Font weight",
        "max": 700,
        "min": 300,
        "step": 100,
        "default": 300
      },
      {
        "type": "range",
        "id": "heading_spacing",
        "label": "Bottom spacing",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 10
      },
      {
        "type": "header",
        "content": "— Subheading style[.](https://#roarJs-group:true)"
      },
      {
        "type": "color",
        "id": "subheading_color",
        "label": "Color",
        "default": "#788188"
      },
      {
        "type": "range",
        "id": "subheading_size",
        "label": "Font size",
        "max": 100,
        "min": 10,
        "step": 1,
        "unit": "px",
        "default": 16
      },
      {
        "type": "range",
        "id": "subheading_weight",
        "label": "Font weight",
        "max": 700,
        "min": 300,
        "step": 100,
        "default": 400
      },
      {
        "type": "range",
        "id": "subheading_spacing",
        "label": "Bottom spacing",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 30
      },
      {
        "type": "header",
        "content": "— Paddings[.](https://#roarJs-group:true)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Top padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_left",
        "label": "Left padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_right",
        "label": "Right padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "header",
        "content": "— Options[.](https://#roarJs-group:true)"
      },
      {
        "type": "checkbox",
        "id": "arrows",
        "label": "Show arrows",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "dots",
        "label": "Show dots"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides"
      },
      {
        "type": "range",
        "id": "autoplay_speed",
        "label": "Change slides every",
        "max": 10,
        "min": 5,
        "step": 1,
        "unit": "sec",
        "default": 7
      },
      {
        "type": "select",
        "id": "slideshow_height",
        "label": "Section height",
        "default": "window",
        "options": [
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Window",
            "value": "window"
          },
          {
            "label": "Auto",
            "value": "auto"
          }
        ]
      },
      {
        "type": "select",
        "id": "per_view",
        "label": "Images per view",
        "default": "1",
        "options": [
          {
            "label": "One",
            "value": "1"
          },
          {
            "label": "Two",
            "value": "2"
          },
          {
            "label": "Three",
            "value": "3"
          }
        ]
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Color scheme",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "light",
            "label": "Light"
          },
          {
            "value": "dark",
            "label": "Dark"
          }
        ],
        "default": "default"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "html",
            "id": "title",
            "label": "Title",
            "default": "Image slide"
          },
          {
            "type": "html",
            "id": "caption",
            "label": "Caption",
            "default": "Tell your brand's story through video and images"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Shop now"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link",
            "default": "/"
          },
          {
            "type": "header",
            "content": "— Options[.](https://#roarJs-group:true)"
          },
          {
            "type": "select",
            "id": "image_alignment",
            "label": "Image alignment",
            "default": "top",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "position_horizontal",
            "label": "Horizontal position",
            "options": [
              {
                "value": "start",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "end",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "position_vertical",
            "label": "Vertical position",
            "options": [
              {
                "value": "start",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "end",
                "label": "Bottom"
              }
            ],
            "default": "center"
          },
		  {
            "type": "range",
            "id": "padding_horizontal",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "%",
            "label": "Horizontal side padding",
            "default": 5
          },
		  {
            "type": "range",
            "id": "padding_vertical",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "%",
            "label": "Vertical side padding",
            "default": 5
          },
          {
            "type": "header",
            "content": "— Title style[.](https://#roarJs-group:true)"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type": "select",
            "id": "title_font",
            "label": "Font family",
            "default": "heading",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "title_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 36
          },
          {
            "type": "range",
            "id": "title_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 600
          },
          {
            "type": "range",
            "id": "title_line_height",
            "label": "Line height",
            "max": 2.5,
            "min": 0.5,
            "step": 0.1,
            "default": 1.7
          },
          {
            "type": "range",
            "id": "title_letter_spacing",
            "label": "Letter spacing",
            "max": 10,
            "min": -5,
            "step": 0.5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "title_spacing",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Bottom spacing",
            "default": 20
          },
          {
            "type": "header",
            "content": "— Caption style[.](https://#roarJs-group:true)"
          },
          {
            "type": "color",
            "id": "caption_color",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type": "select",
            "id": "caption_font",
            "label": "Font family",
            "default": "body",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "caption_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 18
          },
          {
            "type": "range",
            "id": "caption_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 400
          },
          {
            "type": "range",
            "id": "caption_line_height",
            "label": "Line height",
            "max": 2.5,
            "min": 0.5,
            "step": 0.1,
            "default": 1.7
          },
          {
            "type": "range",
            "id": "caption_letter_spacing",
            "label": "Letter spacing",
            "max": 10,
            "min": -5,
            "step": 0.5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "caption_spacing",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Bottom spacing",
            "default": 20
          },
          {
            "type": "header",
            "content": "— Button style[.](https://#roarJs-group:true)"
          },
          {
            "type": "checkbox",
            "id": "button_as_link",
            "label": "Display button as link"
          },
          {
            "type": "checkbox",
            "id": "button_custom",
            "label": "Custom button style"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Text color[.](https://#roarJs-check:button_custom|true)",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "button_border",
            "label": "Border color[.](https://#roarJs-check:button_custom|true)",
            "default": "#00c9b7"
          },
          {
            "type": "color",
            "id": "button_bground",
            "label": "Background color[.](https://#roarJs-check:button_custom|true)",
            "default": "#00c9b7"
          },
          {
            "type": "select",
            "id": "button_font",
            "label": "Font family",
            "default": "heading",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "button_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 14
          },
          {
            "type": "range",
            "id": "button_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 600
          },
          {
            "type": "range",
            "id": "button_letter_spacing",
            "label": "Letter spacing",
            "max": 10,
            "min": -5,
            "step": 0.5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "select",
            "id": "button_type",
            "label": "Size type",
            "default": "medium",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ]
          }
        ]
      },
      {
        "type": "video",
        "name": "Video slide",
        "settings": [
          {
            "type": "video_url",
            "id": "video_url",
            "label": "Video link",
            "accept": ["youtube"],
            "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
          },
          {
            "type": "select",
            "id": "video_type",
            "label": "Style",
            "options": [
              {
                "value": "chrome",
                "label": "Image with play button"
              },
              {
                "value": "background-chrome",
                "label": "Background video with play button"
              },
              {
                "value": "background",
                "label": "Background video"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Fallback when autoplaying video is not supported on mobile devices"
          },
          {
            "type": "html",
            "id": "title",
            "label": "Title",
            "default": "Image slide"
          },
          {
            "type": "html",
            "id": "caption",
            "label": "Caption",
            "default": "Tell your brand's story through video and images"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Shop now"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link",
            "default": "/"
          },
          {
            "type": "header",
            "content": "— Options[.](https://#roarJs-group:true)"
          },
          {
            "type": "select",
            "id": "image_alignment",
            "label": "Image alignment",
            "default": "top",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "position_horizontal",
            "label": "Horizontal position",
            "options": [
              {
                "value": "start",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "end",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "position_vertical",
            "label": "Vertical position",
            "options": [
              {
                "value": "start",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "end",
                "label": "Bottom"
              }
            ],
            "default": "center"
          },
		  {
            "type": "range",
            "id": "padding_horizontal",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "%",
            "label": "Horizontal side padding",
            "default": 5
          },
		  {
            "type": "range",
            "id": "padding_vertical",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "%",
            "label": "Vertical side padding",
            "default": 5
          },
          {
            "type": "header",
            "content": "— Title style[.](https://#roarJs-group:true)"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type": "select",
            "id": "title_font",
            "label": "Font family",
            "default": "heading",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "title_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 36
          },
          {
            "type": "range",
            "id": "title_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 600
          },
          {
            "type": "range",
            "id": "title_line_height",
            "label": "Line height",
            "max": 2.5,
            "min": 0.5,
            "step": 0.1,
            "default": 1.7
          },
          {
            "type": "range",
            "id": "title_letter_spacing",
            "label": "Letter spacing",
            "max": 10,
            "min": -5,
            "step": 0.5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "title_spacing",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Bottom spacing",
            "default": 20
          },
          {
            "type": "header",
            "content": "— Caption style[.](https://#roarJs-group:true)"
          },
          {
            "type": "color",
            "id": "caption_color",
            "label": "Color",
            "default": "#fff"
          },
          {
            "type": "select",
            "id": "caption_font",
            "label": "Font family",
            "default": "body",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "caption_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 18
          },
          {
            "type": "range",
            "id": "caption_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 400
          },
          {
            "type": "range",
            "id": "caption_line_height",
            "label": "Line height",
            "max": 2.5,
            "min": 0.5,
            "step": 0.1,
            "default": 1.7
          },
          {
            "type": "range",
            "id": "caption_letter_spacing",
            "label": "Letter spacing",
            "max": 10,
            "min": -5,
            "step": 0.5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "caption_spacing",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Bottom spacing",
            "default": 20
          },
          {
            "type": "header",
            "content": "— Button style[.](https://#roarJs-group:true)"
          },
          {
            "type": "checkbox",
            "id": "button_as_link",
            "label": "Display button as link"
          },
          {
            "type": "checkbox",
            "id": "button_custom",
            "label": "Custom button style"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Text color[.](https://#roarJs-check:button_custom|true)",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "button_border",
            "label": "Border color[.](https://#roarJs-check:button_custom|true)",
            "default": "#00c9b7"
          },
          {
            "type": "color",
            "id": "button_bground",
            "label": "Background color[.](https://#roarJs-check:button_custom|true)",
            "default": "#00c9b7"
          },
          {
            "type": "select",
            "id": "button_font",
            "label": "Font family",
            "default": "heading",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "button_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 14
          },
          {
            "type": "range",
            "id": "button_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 600
          },
          {
            "type": "range",
            "id": "button_letter_spacing",
            "label": "Letter spacing",
            "max": 10,
            "min": -5,
            "step": 0.5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "select",
            "id": "button_type",
            "label": "Size type",
            "default": "medium",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ]
          }
        ]
      },
      {
        "type": "background",
        "name": "🏷 Background",
        "limit": 1,
        "settings": [
          {
            "type": "color",
            "id": "bground_color",
            "label": "Background color",
            "default": "#00c9b7"
          },
          {
            "type": "range",
            "id": "bground_opacity",
            "label": "Background opacity",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "%",
            "default": 100
          },
          {
            "type": "header",
            "content": "— Background image",
            "info": "Reduce background opacity to use background image"
          },
          {
            "type": "image_picker",
            "id": "bground_image",
            "label": "Upload image"
          },
          {
            "type": "select",
            "id": "bground_position",
            "label": "Background position to start",
            "options": [
              {
                "value": "center_center",
                "label": "Center"
              },
              {
                "value": "top_left",
                "label": "Top left"
              },
              {
                "value": "top_right",
                "label": "Top right"
              },
              {
                "value": "top_center",
                "label": "Top center"
              },
              {
                "value": "bottom_left",
                "label": "Bottom left"
              },
              {
                "value": "bottom_right",
                "label": "Bottom right"
              },
              {
                "value": "bottom_center",
                "label": "Bottom center"
              }
            ],
            "default": "center_center"
          },
          {
            "type": "checkbox",
            "id": "parallax_effect",
            "label": "Parallax scrolling effect",
            "info": "Parallax scrolling will be turn of on mobile devices"
          },
          {
            "type": "header",
            "content": "— Scroll down anchor"
          },
          {
            "type": "checkbox",
            "id": "show_anchor",
            "label": "Show anchor icon"
          },
          {
            "type": "color",
            "id": "anchor_color",
            "label": "Anchor color",
            "default": "#00c9b7"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Slideshow",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}