{%- unless section.settings.bottom_position -%}
<div class="newsletter-popup-section text-center" data-section-id="{{ section.id }}" data-section-type="newsletter-popup">
  <div class="newsletter-popup-backdrop"></div>
  <div id="newsletter-popup-{{ section.id }}" class="newsletter-popup-container" data-period="{{ section.settings.period }}" data-delay="{{ section.settings.delay }}">
    <div class="close_icon">×</div>
    {%- if section.settings.background_image -%}
      {%- capture img_sizes -%}{% if section.settings.background_image.aspect_ratio > 1 %}x3{% else %}3x{% endif %}{%- endcapture -%}
      <div class="background_image lazyload"
           data-bgset="{% include 'bgset', image: section.settings.background_image %}"
           data-sizes="auto"
           data-parent-fit="cover"
           style="background-image: url('{{ section.settings.background_image | img_url: img_sizes }});">
      </div>
    {%- endif -%}
    {%- if section.settings.heading != blank -%}
    <h3 class="heading">{{ section.settings.heading }}</h3>
    {%- endif -%}
    {%- if section.settings.subheading != blank -%}
    <p class="subheading">{{ section.settings.subheading }}</p>
    {%- endif -%}
    <div class="wrapper">
      {%- if section.blocks.size == 0 -%}
        {%- assign contact_form = 'contact_form-' | append: section.id -%}
        {%- form 'customer', id: contact_form -%}

          {%- if form.posted_successfully? -%}
          <div class="alert alert-success">
            <div class="alert__icon">
              <i class="ris ri-check"></i>
            </div>
            <div class="alert__content">
              {{- 'sections.newsletter.confirmation' | t -}}
            </div>
          </div>
          {%- endif -%}

          {%- if form.errors != blank -%}
          <div class="alert alert-error">
            <div class="alert__icon">
              <i class="ris ri-alert"></i>
            </div>
            <div class="alert__content">
              {{- form.errors | default_errors -}}
            </div>
          </div>
          {%- endif -%}

          <div class="form-group">
            <input type="hidden" name="contact[tags]" value="newsletter" />
            <input type="email" name="contact[email]" required="required" class="form-control" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'sections.newsletter.email_placeholder' | t | escape }}" autocapitalize="off" />
            <button type="submit" class="btn btn-primary">{{ 'sections.newsletter.submit' | t }}</button>
          </div>
        {%- endform -%}
      {%- else -%}
        {%- assign block = section.blocks[0] -%}
        {%- case block.type -%}
        {%- when 'mailchimp' -%}
        <form action="{{ section.settings.form_action }}" method="POST" target="_blank">
          <div class="form-group">
            <input type="email" name="EMAIL" required="required" class="form-control" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'sections.newsletter.email_placeholder' | t | escape }}" autocapitalize="off" />
            <button type="submit" class="btn btn-primary">{{ 'sections.newsletter.submit' | t }}</button>
          </div>
        </form>
        {%- endcase -%}
      {%- endif -%}
    </div>
  </div>
</div>
{%- else -%}
<div class="newsletter-popup2-section" data-section-id="{{ section.id }}" data-section-type="newsletter-popup">
  <div id="newsletter-popup-{{ section.id }}" class="newsletter-popup-container d-flex align-items-center" data-period="{{ section.settings.period }}" data-delay="{{ section.settings.delay }}" data-version="popup2">
    <div class="close_icon">×</div>
    {%- if section.settings.heading != blank -%}
    <h3 class="heading col-12 col-sm-4">{{ section.settings.heading }}</h3>
    {%- endif -%}
    <div class="wrapper col-12{% if section.settings.heading != blank %} col-sm-8{% endif %}">
      {%- if section.blocks.size == 0 -%}
        {%- assign contact_form = 'contact_form-' | append: section.id -%}
        {%- form 'customer', id: contact_form -%}
          {%- if form.posted_successfully? -%}
          <div class="alert alert-success">
            <div class="alert__icon">
              <i class="ris ri-check"></i>
            </div>
            <div class="alert__content">
              {{- 'sections.newsletter.confirmation' | t -}}
            </div>
          </div>
          {%- endif -%}

          {%- if form.errors != blank -%}
          <div class="alert alert-error">
            <div class="alert__icon">
              <i class="ris ri-alert"></i>
            </div>
            <div class="alert__content">
              {{- form.errors | default_errors -}}
            </div>
          </div>
          {%- endif -%}
          <div class="form-group d-flex justify-content-center">
            <input type="hidden" name="contact[tags]" value="newsletter" />
            <input type="email" name="contact[email]" required="required" class="form-control" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'sections.newsletter.email_placeholder' | t | escape }}" autocapitalize="off" />
            <button type="submit" class="btn btn-primary btn-small">{{ 'sections.newsletter.submit' | t }}</button>
          </div>
        {%- endform -%}
      {%- else -%}
        {%- assign block = section.blocks[0] -%}
        {%- case block.type -%}
        {%- when 'mailchimp' -%}
        <form action="{{ section.settings.form_action }}" method="POST" target="_blank">
          <div class="form-group d-flex justify-content-center">
            <input type="email" name="EMAIL" required="required" class="form-control" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'sections.newsletter.email_placeholder' | t | escape }}" autocapitalize="off" />
            <button type="submit" class="btn btn-primary btn-small">{{ 'sections.newsletter.submit' | t }}</button>
          </div>
        </form>
        {%- endcase -%}
      {%- endif -%}
    </div>
  </div>
</div>
{%- endunless -%}

{% schema %}
  {
    "name": "Newsletter popup",
    "class": "newsletter-popup",
    "max_blocks": 1,
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Newsletter"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "A short sentence describing what someone will receive by subscribing"
      },
      {
        "type": "range",
        "id": "period",
        "label": "'Do not show again' time period",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "day",
        "default": 1
      },
      {
        "type": "range",
        "id": "delay",
        "label": "Popup delay",
        "min": 0,
        "max": 60,
        "step": 1,
        "unit": "sec",
        "default": 1
      },
      {
        "type": "checkbox",
        "id": "bottom_position",
        "label": "Bottom position?"
      }
    ],
    "blocks": [
      {
        "type": "mailchimp",
        "name": "Mailchimp",
        "settings": [
		  {
            "type": "text",
            "id": "form_action",
            "label": "Mailchimp form action [( ? )](https:\/\/youtu.be\/ucj6y7Ix6gU)"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Newsletter popup",
      "category": "Promotional"
    }]
  }
{% endschema %}