{%- assign is_container = true -%}
{%- assign container_begin = '<div class="container">' -%}
{%- assign container_end = '</div>' -%}
{%- if section.settings.full_width -%}
  {%- assign is_container = false -%}
  {%- assign container_begin = '' -%}
  {%- assign container_end = '' -%}
{%- endif -%}

{%- capture style_section -%}
  padding:{{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
{%- endcapture -%}

{{- container_begin -}}
<div class="container-section collections-section{% if section.settings.mobile_disable %} mb-hidden{% endif %}" style="{{ style_section | strip_newlines | remove: "  " }}">
  {%- assign blocks_size = section.blocks.size -%}
  {%- if section.blocks.size > 0 -%}
    {%- for block in section.blocks -%}
      {%- if block.type == 'background' -%}
        {%- assign blocks_size = blocks_size | minus: 1 -%}
        {%- include 'bgimage' -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  
  <div class="wrapper{% if section.settings.full_width and section.settings.no_spacing == false %} container{% assign is_container = true %}{% endif %}">
    {%- include 'headings', type: 'index', object: section -%}

    {%- if blocks_size > 0 -%}
      <div class="row row-{{ section.settings.spacing }} products products-grid grid-{{ section.settings.grid }} layout-{{ section.settings.layout }}">
        {%- for block in section.blocks -%}
          {%- if block.type == 'featured_collection' -%}
            {%- assign collection = collections[block.settings.collection] -%}
            {%- assign cat_title = collection.title -%}
            {%- if block.settings.title != blank -%}
              {%- assign cat_title = block.settings.title -%}
            {%- endif -%}
            {%- assign cat_image = collection.image -%}
            {%- if block.settings.image -%}
              {%- assign cat_image = block.settings.image -%}
            {%- endif -%}
            {%- include 'collection-item', featured_image: cat_image, cat_title: cat_title -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- else -%}
      {%- include 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>
{{- container_end -}}

{% schema %} 
  {
    "name": "Collection list",
    "class": "index-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "mobile_disable",
        "label": "Disable on mobile",
        "info": "Check to disable this section on mobile devices."
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Wide display",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "no_spacing",
        "label": "No spacing",
        "info": "When Wide display is checked, use this option to remove the bilateral spaces."
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Collection list"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Description"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Headings alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "— Heading style"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Color",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "heading_size",
        "label": "Font size",
        "max": 100,
        "min": 10,
        "step": 1,
        "unit": "px",
        "default": 32
      },
      {
        "type": "range",
        "id": "heading_weight",
        "label": "Font weight",
        "max": 700,
        "min": 300,
        "step": 100,
        "default": 600
      },
      {
        "type": "range",
        "id": "heading_spacing",
        "label": "Bottom spacing",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 5
      },
      {
        "type": "header",
        "content": "— Subheading style"
      },
      {
        "type": "color",
        "id": "subheading_color",
        "label": "Color",
        "default": "#666"
      },
      {
        "type": "range",
        "id": "subheading_size",
        "label": "Font size",
        "max": 100,
        "min": 10,
        "step": 1,
        "unit": "px",
        "default": 22
      },
      {
        "type": "range",
        "id": "subheading_weight",
        "label": "Font weight",
        "max": 700,
        "min": 300,
        "step": 100,
        "default": 300
      },
      {
        "type": "range",
        "id": "subheading_spacing",
        "label": "Bottom spacing",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 55
      },
      {
        "type": "header",
        "content": "— Paddings"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Top padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_left",
        "label": "Left padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_right",
        "label": "Right padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "header",
        "content": "— Options"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Collections columns",
        "info": "How many collections you want to show per row.",
        "min": 2,
        "max": 6,
        "step": 1,
        "default": 4
      },
      {
        "type": "range",
        "id": "spacing",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "label": "Space between collections",
        "default": 0,
        "info": "Choose 0 to use default style."
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Collection grid layout",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "Layout 1"
          },
          {
            "value": "2",
            "label": "Layout 2"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "products_count",
        "label": "Show products count",
        "default": true
      },
      {
        "type": "header",
        "content": "Image settings"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image ratio",
        "default": "75",
        "options": [
          {
            "value": "1",
            "label": "Square 1:1"
          },
          {
            "value": "75",
            "label": "Portrait 3:4"
          },
          {
            "value": "667",
            "label": "Portrait 2:3"
          },
          {
            "value": "1333",
            "label": "Landscape 4:3"
          },
          {
            "value": "15",
            "label": "Landscape 3:2"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "image_ratio_crop",
        "label": "Automatically crop images",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "limit": 12,
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          },
          {
            "label": "Custom title",
            "id": "title",
            "type": "text"
          },
          {
            "label": "Custom image",
            "id": "image",
            "type": "image_picker"
          }
        ]
      },
      {
        "type": "background",
        "name": "🏷 Background",
        "limit": 1,
        "settings": [
          {
            "type": "color",
            "id": "bground_color",
            "label": "Background color",
            "default": "#00c9b7"
          },
          {
            "type": "range",
            "id": "bground_opacity",
            "label": "Background opacity",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "%",
            "default": 100
          },
          {
            "type": "header",
            "content": "— Background image",
            "info": "Reduce background opacity to use background image."
          },
          {
            "type": "image_picker",
            "id": "bground_image",
            "label": "Upload image"
          },
          {
            "type": "select",
            "id": "bground_position",
            "label": "Background position to start",
            "options": [
              {
                "value": "center_center",
                "label": "Center"
              },
              {
                "value": "top_left",
                "label": "Top left"
              },
              {
                "value": "top_right",
                "label": "Top right"
              },
              {
                "value": "top_center",
                "label": "Top center"
              },
              {
                "value": "bottom_left",
                "label": "Bottom left"
              },
              {
                "value": "bottom_right",
                "label": "Bottom right"
              },
              {
                "value": "bottom_center",
                "label": "Bottom center"
              }
            ],
            "default": "center_center"
          },
          {
            "type": "checkbox",
            "id": "parallax_effect",
            "label": "Parallax scrolling effect",
            "info": "Parallax scrolling will be turn of on mobile devices."
          },
          {
            "type": "header",
            "content": "— Scroll down anchor"
          },
          {
            "type": "checkbox",
            "id": "show_anchor",
            "label": "Show anchor icon"
          },
          {
            "type": "color",
            "id": "anchor_color",
            "label": "Anchor color",
            "default": "#00c9b7"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          }
        ]
      }
    ]
  }
{% endschema %}