{%- assign is_container = true -%}
{%- assign container_begin = '<div class="container">' -%}
{%- assign container_end = '</div>' -%}
{%- if section.settings.full_width -%}
  {%- assign is_container = false -%}
  {%- assign container_begin = '' -%}
  {%- assign container_end = '' -%}
{%- endif -%}

{{- container_begin -}}
<div class="container-section collections-slider-section{% if section.settings.mobile_disable %} mb-hidden{% endif %}" data-section-id="{{ section.id }}" data-section-type="collections-slider" style="padding:{{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;">
  {%- assign blocks_size = section.blocks.size -%}
  {%- if section.blocks.size > 0 -%}
    {%- for block in section.blocks -%}
      {%- if block.type == 'background' -%}
        {%- assign blocks_size = blocks_size | minus: 1 -%}
        {%- include 'bgimage' -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  
  <div class="wrapper{% if section.settings.full_width and section.settings.no_spacing == false %} container{% assign is_container = true %}{% endif %}">
    {%- include 'headings', type: 'index', object: section -%}

    {%- if blocks_size > 0 -%}
      <style>#CollectionsSlider-{{ section.id }},#CollectionsSlider-{{ section.id }} .slider_large,#CollectionsSlider-{{ section.id }} .slideshow__image{height:{{ section.settings.desktop_height }}px;}@media (max-width:991px){#CollectionsSlider-{{ section.id }},#CollectionsSlider-{{ section.id }} .slider_large,#CollectionsSlider-{{ section.id }} .slideshow__image{height:{{ section.settings.tablet_height }}px;}}@media (max-width:767px){#CollectionsSlider-{{ section.id }}{height:auto;}#CollectionsSlider-{{ section.id }} .slider_large,#CollectionsSlider-{{ section.id }} .slideshow__image{height:{{ section.settings.mobile_height }}px;}}</style>
      <div id="CollectionsSlider-{{ section.id }}" class="collections_slider d-flex align-items-center justify-content-between">
        <div class="slider_small">
          {%- for block in section.blocks -%}
            {%- if block.type == 'image' -%}
            <div class="slideshow__slide" data-slick-id="{{ block.id }}" {{ block.shopify_attributes }}>
              <div class="slideshow__image-wrap">
                {%- if block.settings.image == blank -%}
                <div class="slideshow__image">
                  <div class="placeholder-background">
                    {%- capture current -%}{% cycle 1, 2 %}{%- endcapture -%}
                    {{- 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' -}}
                  </div>
                </div>
                {%- else -%}
                <div class="slideshow__image lazyload lazypreload"
                     data-bgset="{% include 'bgset', image: block.settings.image %}"
                     data-sizes="auto"
                     data-parent-fit="cover"
                     style="background-position:{{ block.settings.image_alignment }};background-image:url('{{ block.settings.image | img_url: '300x' }}');">
                </div>
                {%- endif -%}
              </div>
            </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
        <div class="slider_content">
          <div class="slider_content-wrapper color-{{ section.settings.color_scheme }}">
            {%- for block in section.blocks -%}
              {%- if block.type == 'image' -%}
              <div class="slideshow__text-wrap">
                <div class="slideshow__text-content text-{{ block.settings.text_alignment }}">
                  <div class="slideshow__text-text">
                    {%- unless block.settings.title == blank -%}
                    <p class="slideshow__intro weight-{{ block.settings.intro_weight }} size-{{ block.settings.intro_size }} font-{{ block.settings.intro_font }}" style="color:{{ block.settings.intro_color }};line-height:{{ block.settings.intro_line_height }};letter-spacing:{{ block.settings.intro_letter_spacing }}px;margin-bottom:{{ block.settings.intro_spacing }}px;">
                      {{- block.settings.intro -}}
                    </p>
                    {%- endunless -%}
                    {%- unless block.settings.title == blank -%}
                    <h2 class="slideshow__title weight-{{ block.settings.title_weight }} size-{{ block.settings.title_size }} font-{{ block.settings.title_font }}" style="color:{{ block.settings.title_color }};line-height:{{ block.settings.title_line_height }};letter-spacing:{{ block.settings.title_letter_spacing }}px;margin-bottom:{{ block.settings.title_spacing }}px;">
                      {{- block.settings.title -}}
                    </h2>
                    {%- endunless -%}
                    {%- unless block.settings.caption == blank -%}
                    <div class="slideshow__subtitle weight-{{ block.settings.caption_weight }} size-{{ block.settings.caption_size }} font-{{ block.settings.caption_font }}" style="color:{{ block.settings.caption_color }};line-height:{{ block.settings.caption_line_height }};letter-spacing:{{ block.settings.caption_letter_spacing }}px;margin-bottom:{{ block.settings.caption_spacing }}px;">
                      {{- block.settings.caption -}}
                    </div>
                    {%- endunless -%}
                    {%- if block.settings.button_link != blank and block.settings.button_label != blank -%}
                    <div class="slideshow__btn">
                      <a href="{{ block.settings.button_link }}" class="btn{% unless block.settings.button_custom %} btn-primary{% else %} btn-secondary btn-{{ block.settings.button_type }} size-{{ block.settings.button_size }} weight-{{ block.settings.button_weight }} font-{{ block.settings.button_font }}{% endunless %}{% if block.settings.button_as_link %} btn-link{% endif %}"{% if block.settings.button_custom %} style="color:{{ block.settings.button_color }};background-color:{{ block.settings.button_bground }};border-color:{{ block.settings.button_border }};letter-spacing:{{ block.settings.button_letter_spacing }}px;"{% endif %}>{{ block.settings.button_label }}</a>
                    </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
        <div class="slider_large" data-autoplay="{{ section.settings.autoplay }}" data-speed="{{ section.settings.autoplay_speed | times: 1000 }}">
          {%- for block in section.blocks -%}
            {%- if block.type == 'image' -%}
            <div class="slideshow__slide" data-slick-id="{{ block.id }}" {{ block.shopify_attributes }}>
              <div class="slideshow__image-wrap">
                {%- if block.settings.image == blank -%}
                <div class="slideshow__image">
                  <div class="placeholder-background">
                    {%- capture current -%}{% cycle 1, 2 %}{%- endcapture -%}
                    {{- 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' -}}
                  </div>
                </div>
                {%- else -%}
                <div class="slideshow__image lazyload{% unless forloop.first == true %} lazypreload{% endunless %}"
                     data-bgset="{% include 'bgset', image: block.settings.image %}"
                     data-sizes="auto"
                     data-parent-fit="cover"
                     style="background-position:{{ block.settings.image_alignment }};{% if forloop.first == true %}background-image:url('{{ block.settings.image | img_url: 'master' }}');{% endif %}">
                </div>
                {%- endif -%}
              </div>
            </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    {%- else -%}
      {%- include 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>
{{- container_end -}}

{% schema %}
  {
    "name": "Collections slider",
    "class": "index-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "mobile_disable",
        "label": "Disable on mobile",
        "info": "Check to disable this section on mobile devices."
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Wide display",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "no_spacing",
        "label": "No spacing",
        "info": "When Wide display is checked, use this option to remove the bilateral spaces.",
        "default": true
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Collections slider"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Description"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Headings alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "— Heading style"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Color",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "heading_size",
        "label": "Font size",
        "max": 100,
        "min": 10,
        "step": 1,
        "unit": "px",
        "default": 32
      },
      {
        "type": "range",
        "id": "heading_weight",
        "label": "Font weight",
        "max": 700,
        "min": 300,
        "step": 100,
        "default": 600
      },
      {
        "type": "range",
        "id": "heading_spacing",
        "label": "Bottom spacing",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 5
      },
      {
        "type": "header",
        "content": "— Subheading style"
      },
      {
        "type": "color",
        "id": "subheading_color",
        "label": "Color",
        "default": "#666"
      },
      {
        "type": "range",
        "id": "subheading_size",
        "label": "Font size",
        "max": 100,
        "min": 10,
        "step": 1,
        "unit": "px",
        "default": 22
      },
      {
        "type": "range",
        "id": "subheading_weight",
        "label": "Font weight",
        "max": 700,
        "min": 300,
        "step": 100,
        "default": 400
      },
      {
        "type": "range",
        "id": "subheading_spacing",
        "label": "Bottom spacing",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "default": 55
      },
      {
        "type": "header",
        "content": "— Paddings"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Top padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_left",
        "label": "Left padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_right",
        "label": "Right padding",
        "min": 0,
        "max": 250,
        "step": 5,
        "unit": "px",
        "default": 0
      },
      {
        "type": "header",
        "content": "— Options"
      },
      {
        "type": "range",
        "id": "desktop_height",
        "min": 100,
        "max": 1000,
        "step": 10,
        "label": "Height on desktop",
        "default": 800
      },
      {
        "type": "range",
        "id": "tablet_height",
        "min": 100,
        "max": 800,
        "step": 10,
        "label": "Height on tablet",
        "default": 500
      },
      {
        "type": "range",
        "id": "mobile_height",
        "min": 100,
        "max": 500,
        "step": 10,
        "label": "Height on mobile",
        "default": 300
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides"
      },
      {
        "type": "range",
        "id": "autoplay_speed",
        "label": "Change slides every",
        "max": 10,
        "min": 5,
        "step": 1,
        "unit": "sec",
        "default": 5
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Navigation color scheme",
        "options": [
          {
            "value": "light",
            "label": "Light"
          },
          {
            "value": "dark",
            "label": "Dark"
          }
        ],
        "default": "dark"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "html",
            "id": "intro",
            "label": "Intro",
            "default": "Intro text"
          },
          {
            "type": "html",
            "id": "title",
            "label": "Title",
            "default": "Image slide"
          },
          {
            "type": "html",
            "id": "caption",
            "label": "Caption",
            "default": "Tell your brand's story through video and images"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Shop now"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link",
            "default": "/"
          },
          {
            "type": "header",
            "content": "— Options"
          },
          {
            "type": "select",
            "id": "image_alignment",
            "label": "Image alignment",
            "default": "top",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left"
          },
          {
            "type": "header",
            "content": "— Intro style"
          },
          {
            "type": "color",
            "id": "intro_color",
            "label": "Color",
            "default": "#d8a35e"
          },
          {
            "type": "select",
            "id": "intro_font",
            "label": "Font family",
            "default": "heading",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "intro_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 12
          },
          {
            "type": "range",
            "id": "intro_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 600
          },
          {
            "type": "range",
            "id": "intro_line_height",
            "label": "Line height",
            "max": 2.5,
            "min": 0.5,
            "step": 0.1,
            "default": 1.1
          },
          {
            "type": "range",
            "id": "intro_letter_spacing",
            "label": "Letter spacing",
            "max": 10,
            "min": -5,
            "step": 0.5,
            "unit": "px",
            "default": 3
          },
          {
            "type": "range",
            "id": "intro_spacing",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Bottom spacing",
            "default": 25
          },
          {
            "type": "header",
            "content": "— Title style"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Color",
            "default": "#000"
          },
          {
            "type": "select",
            "id": "title_font",
            "label": "Font family",
            "default": "heading",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "title_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 40
          },
          {
            "type": "range",
            "id": "title_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 600
          },
          {
            "type": "range",
            "id": "title_line_height",
            "label": "Line height",
            "max": 2.5,
            "min": 0.5,
            "step": 0.1,
            "default": 1.1
          },
          {
            "type": "range",
            "id": "title_letter_spacing",
            "label": "Letter spacing",
            "max": 10,
            "min": -5,
            "step": 0.5,
            "unit": "px",
            "default": -1
          },
          {
            "type": "range",
            "id": "title_spacing",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Bottom spacing",
            "default": 20
          },
          {
            "type": "header",
            "content": "— Caption style"
          },
          {
            "type": "color",
            "id": "caption_color",
            "label": "Color",
            "default": "#666"
          },
          {
            "type": "select",
            "id": "caption_font",
            "label": "Font family",
            "default": "body",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "caption_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 16
          },
          {
            "type": "range",
            "id": "caption_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 300
          },
          {
            "type": "range",
            "id": "caption_line_height",
            "label": "Line height",
            "max": 2.5,
            "min": 0.5,
            "step": 0.1,
            "default": 1.4
          },
          {
            "type": "range",
            "id": "caption_letter_spacing",
            "label": "Letter spacing",
            "max": 10,
            "min": -5,
            "step": 0.5,
            "unit": "px",
            "default": 0
          },
          {
            "type": "range",
            "id": "caption_spacing",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Bottom spacing",
            "default": 30
          },
          {
            "type": "header",
            "content": "— Button style"
          },
          {
            "type": "checkbox",
            "id": "button_as_link",
            "label": "Display button as link",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "button_custom",
            "label": "Custom button style",
            "default": true
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Text color",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "button_border",
            "label": "Border color",
            "default": "#000"
          },
          {
            "type": "color",
            "id": "button_bground",
            "label": "Background color",
            "default": "#000"
          },
          {
            "type": "select",
            "id": "button_font",
            "label": "Font family",
            "default": "heading",
            "options": [
              {
                "value": "body",
                "label": "Body text"
              },
              {
                "value": "heading",
                "label": "Headings and buttons"
              }
            ]
          },
          {
            "type": "range",
            "id": "button_size",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 10
          },
          {
            "type": "range",
            "id": "button_weight",
            "label": "Font weight",
            "max": 700,
            "min": 300,
            "step": 100,
            "default": 700
          },
          {
            "type": "range",
            "id": "button_letter_spacing",
            "label": "Letter spacing",
            "max": 10,
            "min": -5,
            "step": 0.5,
            "unit": "px",
            "default": 3
          },
          {
            "type": "select",
            "id": "button_type",
            "label": "Size type",
            "default": "medium",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ]
          }
        ]
      },
      {
        "type": "background",
        "name": "🏷 Background",
        "limit": 1,
        "settings": [
          {
            "type": "color",
            "id": "bground_color",
            "label": "Background color",
            "default": "#00c9b7"
          },
          {
            "type": "range",
            "id": "bground_opacity",
            "label": "Background opacity",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "%",
            "default": 100
          },
          {
            "type": "header",
            "content": "— Background image",
            "info": "Reduce background opacity to use background image."
          },
          {
            "type": "image_picker",
            "id": "bground_image",
            "label": "Upload image"
          },
          {
            "type": "select",
            "id": "bground_position",
            "label": "Background position to start",
            "options": [
              {
                "value": "center_center",
                "label": "Center"
              },
              {
                "value": "top_left",
                "label": "Top left"
              },
              {
                "value": "top_right",
                "label": "Top right"
              },
              {
                "value": "top_center",
                "label": "Top center"
              },
              {
                "value": "bottom_left",
                "label": "Bottom left"
              },
              {
                "value": "bottom_right",
                "label": "Bottom right"
              },
              {
                "value": "bottom_center",
                "label": "Bottom center"
              }
            ],
            "default": "center_center"
          },
          {
            "type": "checkbox",
            "id": "parallax_effect",
            "label": "Parallax scrolling effect",
            "info": "Parallax scrolling will be turn of on mobile devices."
          },
          {
            "type": "header",
            "content": "— Scroll down anchor"
          },
          {
            "type": "checkbox",
            "id": "show_anchor",
            "label": "Show anchor icon"
          },
          {
            "type": "color",
            "id": "anchor_color",
            "label": "Anchor color",
            "default": "#00c9b7"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collections slider",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}