{%- if section.settings.logo -%}
  <a href="/" itemprop="url" class="header__logo-image">
    {%- assign logo_size = 'x' | append: section.settings.logo_max_height -%}
    {%- assign logo_alt = section.settings.logo.alt | default: shop.name -%}
    <img class="site-logo" src="{{ section.settings.logo | img_url: logo_size }}" srcset="{{ section.settings.logo | img_url: logo_size }} 1x, {{ section.settings.logo | img_url: logo_size, scale: 2 }} 2x" alt="{{ logo_alt | escape }}" style="max-height:{{ section.settings.logo_max_height }}px;" />
  </a>
{%- else -%}
  <h1 href="/" itemprop="url" class="header__logo-link">
    <span class="logo">{{ shop.name }}</span>
  </h1>
{%- endif -%}

<h2 class="password__title">{{ section.settings.header }}</h2>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_height",
        "label": "Custom logo height",
        "min": 10,
        "max": 200,
        "step": 2,
        "unit": "px",
        "default": 56
      },
      {
        "type": "text",
        "id": "header",
        "label": "Heading",
        "default": "Coming Soon"
      }
    ]
  }
{% endschema %}