<style type="text/css">
  body{color:{{ section.settings.color_text }}}
  .password-bground{background-color:{{ section.settings.color_bground }};opacity:{{ section.settings.bground_opacity | times: 1.00 | divided_by: 100 }};}
</style>

{%- comment -%}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{%- endcomment -%}
{%- unless shop.password_message == blank -%}
  <div class="password-message">
    {{- shop.password_message -}}
  </div>
{%- endunless -%}

{%- if section.settings.image -%}
  {%- capture img_sizes -%}{% if section.settings.image.aspect_ratio > 1 %}x3{% else %}3x{% endif %}{%- endcapture -%}
  <div class="password-image lazyload" data-bgset="{% include 'bgset', image: section.settings.image %}" data-sizes="auto" data-parent-fit="cover" style="background-image:url({{ section.settings.image | img_url: img_sizes }});"></div>
{%- endif -%}
<div class="password-bground"></div>

{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'newsletter' -%}
    <div class="password-newsletter" {{ block.shopify_attributes }}>
      {%- form 'customer' -%}
        {%- if form.errors != blank -%}
          <div class="alert alert-error">
            <div class="alert__icon">
              <i class="ris ri-check"></i>
            </div>
            <div class="alert__content">
              {{- form.errors | default_errors -}}
            </div>
          </div>
        {%- endif -%}

        {%- if form.posted_successfully? -%}
          <div class="alert alert-success">
            <div class="alert__icon">
              <i class="ris ri-check"></i>
            </div>
            <div class="alert__content">
              {{- 'general.password_page.signup_form_success' | t -}}
            </div>
          </div>
        {%- else -%}
          {%- if block.settings.heading != blank -%}
            <h4 class="password__form-heading">{{ block.settings.heading }}</h4>
          {%- endif -%}
          <input type="hidden" name="contact[tags]" value="prospect, password page" />
          <div class="password__input-group d-flex justify-content-center">
            <input type="email" name="contact[email]" placeholder="{{ 'general.password_page.signup_form_email_label' | t | escape }}" />
            <button type="submit" name="commit" class="btn btn-primary">{{ 'general.password_page.signup_form_submit_label' | t }}</button>
          </div>
        {%- endif -%}
      {%- endform -%}
    </div>

    {%- when 'sharing' -%}
    <div class="password-sharing" {{ block.shopify_attributes }}>
      {%- if block.settings.heading != blank -%}
        <h4 class="password__form-heading">{{ block.settings.heading }}</h4>
      {%- endif -%}
      {%- include 'social-sharing' -%}
    </div>

    {%- when 'countdown' -%}
    <div class="password-countdown" {{ block.shopify_attributes }}>
      {%- if block.settings.heading != blank -%}
        <h4 class="password__form-heading">{{ block.settings.heading }}</h4>
      {%- endif -%}
      {%- if block.settings.end_date != blank -%}
      <div data-section-id="{{ section.id }}" data-section-type="countdown-timer">
        <div class="countdown__timer countdown-{{ section.id }}" data-end_date="{{ block.settings.end_date | escape }}"></div>
      </div>
      {%- endif -%}
    </div>
  {%- endcase -%}
{%- endfor -%}

{% schema %}
  {
    "name": "Content",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text color",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "color_bground",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "range",
        "id": "bground_opacity",
        "label": "Background opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "default": 100
      }
    ],
    "blocks": [
      {
        "type": "newsletter",
        "name": "Newsletter form",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Find out when we open",
            "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
          }
        ]
      },
      {
        "type": "sharing",
        "name": "Social sharing",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Spread the word"
          }
        ]
      },
      {
        "type": "countdown",
        "name": "Countdown timer",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "end_date",
            "label": "Date",
            "info": "Format: mm-dd-yyyy"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "newsletter",
          "settings": {
            "heading": "Find out when we open"
          }
        },
        {
          "type": "sharing",
          "settings": {
            "heading": "Spread the word"
          }
        }
      ]
    }
  }
{% endschema %}
