{% schema %}
  {
    "name": "Sub Categories",
    "settings": [],
	"presets": [
		{
			"name" : "Sub Categories",
			"category": "THAHIR"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


<div class="thr-slider container">    
    <div class="thr-slider__header">
      <h3 class="heading weight-600 size-32 tex">{{ 'thr.sub-categories.heading' | t }}</h3>
    </div>
    <div class="thr-slider__wrapper">
      <a href="https://www.shopscrubsandclogs.com/collections/pins" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Pins.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.sub-categories.pins' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/lanyards-id-necklace" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Lanyards.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.sub-categories.lanyards' | t }}</h3>
	  </a>
	  <a href="https://www.shopscrubsandclogs.com/collections/id-badge-holders" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/ID_Holder.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.sub-categories.id-holders' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/mugs" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Mug.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.sub-categories.mugs' | t }}</h3>
    </a>
	  <a href="https://www.shopscrubsandclogs.com/collections/nurse-bags" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Totebags.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.sub-categories.bags' | t }}</h3>
      </a>

      <!-- <a href="https://www.shopscrubsandclogs.com/collections/medical-jewellery" class="thr-slider__item">
        <img class="thr-slider__image" src="https://via.placeholder.com/2160x1700.png" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">Jewellery</h3>
	  </a> -->
	  <a href="https://www.shopscrubsandclogs.com/collections/key-rings" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Key_ring.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.sub-categories.keyrings' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/nurse-watches" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Watches.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.sub-categories.watches' | t }}</h3>
      </a>
    </div>
</div>