{% schema %}
  {
    "name": "Home page main categories",
    "settings": [],
	"presets": [
		{
			"name" : "Home page main categories",
			"category": "THAHIR"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


<div class="thr-categories container">
	<div class="thr-categories__heading headings text-center">
		<h3 class="heading weight-600 size-32">{{ 'thr.main-categories.heading' | t }}</h3>
	</div>
	<div class="thr-categories__content">
		<a class="thr-categories__item" href="https://www.shopscrubsandclogs.com/collections/scrubs">
			<div class="thr-categories__content__wrapper">
				<img src="https://cdn.shopify.com/s/files/1/2610/4676/files/s.jpeg" alt="">

				<h3 class="thr-categories__content__heading heading weight-100 size-28 text-center">{{ 'thr.main-categories.scrubs' | t }}  </h3>
			</div>
		</a>
		<a class="thr-categories__item" href="https://www.shopscrubsandclogs.com/collections/lab-coats">
			<div class="thr-categories__content__wrapper">
				<img src="https://cdn.shopify.com/s/files/1/2610/4676/files/l.jpeg" alt="">

				<h3 class="thr-categories__content__heading heading weight-100 size-28 text-center">{{ 'thr.main-categories.labcoats' | t }}  </h3>
			</div>
		</a>
		<a class="thr-categories__item" href="https://www.shopscrubsandclogs.com/collections/stethoscopes">
			<div class="thr-categories__content__wrapper">
				<img src="https://cdn.shopify.com/s/files/1/2610/4676/files/stethoscopes_3f03190d-113d-46df-92b3-1ee60cfa286a.jpeg" alt="">

				<h3 class="thr-categories__content__heading heading weight-100 size-28 text-center">{{ 'thr.main-categories.stethoscopes' | t }}  </h3>
			</div>
		</a>
		<a class="thr-categories__item" href="https://www.shopscrubsandclogs.com/collections/shoes-clogs">
			<div class="thr-categories__content__wrapper">
				<img src="https://cdn.shopify.com/s/files/1/2610/4676/files/Shoes_ab1ca147-08b5-4d9d-9c97-c5af3b10bcbd.jpeg" alt="">

				<h3 class="thr-categories__content__heading heading weight-100 size-28 text-center">{{ 'thr.main-categories.shoes' | t }}  </h3>
			</div>
		</a>
		<a class="thr-categories__item" href="https://www.shopscrubsandclogs.com/collections/accessories">
			<div class="thr-categories__content__wrapper">
				<img src="https://cdn.shopify.com/s/files/1/2610/4676/files/accessories.jpeg" alt="">

				<h3 class="thr-categories__content__heading heading weight-100 size-28 text-center">{{ 'thr.main-categories.accessories' | t }}  </h3>
			</div>
		</a>
		<a class="thr-categories__item" href="https://www.shopscrubsandclogs.com/collections/medical-devices">
			<div class="thr-categories__content__wrapper">
				<img src="https://cdn.shopify.com/s/files/1/2610/4676/files/Dental.jpeg" alt="">

				<h3 class="thr-categories__content__heading heading weight-100 size-28 text-center">{{ 'thr.main-categories.dental' | t }} </h3>
			</div>
		</a>
		<a class="thr-categories__item" href="https://www.shopscrubsandclogs.com/collections/stationery">
			<div class="thr-categories__content__wrapper">
				<img src="https://cdn.shopify.com/s/files/1/2610/4676/files/Stationary_eaba37b0-1b53-4376-b7cb-857dc7ab712f.jpeg" alt="">

				<h3 class="thr-categories__content__heading heading weight-100 size-28 text-center">{{ 'thr.main-categories.stationery' | t }}  </h3>
			</div>
		</a>
		<a class="thr-categories__item" href="https://www.shopscrubsandclogs.com/collections/toys">
			<div class="thr-categories__content__wrapper">
				<img src="https://cdn.shopify.com/s/files/1/2610/4676/files/Toys_efc12cfb-bd6f-47f5-ba66-533e3c95f8eb.jpeg" alt="">

				<h3 class="thr-categories__content__heading heading weight-100 size-28 text-center">{{ 'thr.main-categories.toys' | t }}  </h3>
			</div>
		</a>
	</div>
</div>