{% schema %}
  {
    "name": "Brands Slider",
    "settings": [],
	"presets": [
		{
			"name" : "Homepage Slider",
			"category": "THAHIR"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


<div class="thr-slider container">    
    <div class="thr-slider__header">
      <h3 class="heading weight-600 size-32 tex">{{ 'thr.trending-brands.heading' | t }}</h3>
    </div>
    <div class="thr-slider__wrapper">
      <a href="https://www.shopscrubsandclogs.com/collections/adar" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Adar_558f7c49-cbad-4cbb-88c1-09c658bf91f2.jpeg" alt="Adar">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.adar' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/wonderwink" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Wonderwink.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.wonderwink' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/koi" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Koi.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.koi' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/healing-hand" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Healing_Hands.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.healinghand' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/barco-greys-anatomy" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Barco.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.barco' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/maevn" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Maevn.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.maevn' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/medelita" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Medelita_e944c1f4-13a8-4d9e-aa27-549b6c9f2063.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.medelita' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/pastelli" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Pastelli.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.pastelli' | t }}</h3>
      </a>
      <a href="https://www.shopscrubsandclogs.com/collections/dickies" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Dickies.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.dickes' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/cherokee" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Cherokee_d79dcc58-4e7e-4f15-a58c-5200b3187427.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.cherokee' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/meta" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Meta.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.meta' | t }}</h3>
      </a>


      <a href="https://www.shopscrubsandclogs.com/collections/littmann" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Littmann.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.littmann' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/oxypas" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/Oxypas.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.oxypas' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/adc" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/ADC.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.adc' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/mdf" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/mdf.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.mdf' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/id-avenue" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/adavenue.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.idavenue' | t }}</h3>
      </a>

      <a href="https://www.shopscrubsandclogs.com/collections/scrubs-and-clogs" class="thr-slider__item">
        <img class="thr-slider__image" src="https://cdn.shopify.com/s/files/1/2610/4676/files/scrubsandclogs.jpeg" alt="">
        <h3 class="thr-slider__item__title heading weight-100 size-21">{{ 'thr.trending-brands.scrubsandclogs' | t }}</h3>
      </a>

    </div>
</div>